body {
    font-family: 'Architects Daughter', cursive;

}

#upper_part {
    background-color: rgb(0, 162, 255);
    border-radius: 15px;
    width: 95%;
}

hr {
    background-color: azure !important;
    width: 85%;
}

.heading_div2 {
    font-size: 22px;

}

i {
    visibility: hidden;
}

.heading_div2:hover i {
    visibility: visible;
}

.result_para_tag {
    font-size: 20px;
    box-shadow: 5px 5px 5px gray;
    border-bottom: chocolate;
    border-bottom: 5px solid #fea67b;
    margin-top:320px;
}

.footer {
    width: 100%;

    font-size: 27px;
    background-color: gainsboro;
    text-align: center;
    bottom: 0;
    position: fixed;
    line-height: 2;
}

canvas {
    border: 5px dashed black;
    margin-top: 120px;
    border-radius: 30px;
    box-shadow: 7px 7px 36px rgb(78, 78, 78);
}